In [3]:
print(3+5)

8

In [1]:
print(20 * 8) #행단위 명령어: 한줄 명령어

160

In [4]:
i= 10; print(i)

10

In [10]:
if 10==i:
    print("i는 10입니다")
    print("i는 10입니다")

i는 10입니다
i는 10입니다

In [16]:
# 2.자료형
## 기본자료형 : 리터널 : 자연수 : 정수 리터널 :
##                               실수 리터널
#              자연어 : 영어, 중국어 , 일본어, ...
#                       문자 리터널 :
print(10)
i = 10; # 정수 리터널을 가진 변수 i
print(i)
i = 20
print(i)
j = 30 # 정수리터널 변수
print( i + j )
f = 10.5 # 실수리터널 변수
print(f)
j = 10.5
print(j)
j="강찬우"
print(j)

10
10
20
50
10.5
10.5
강찬우

In [19]:
#숫자 연산자
i = 10
j = 20
print(i+j)
print (i-j)
print (i*j)
print(i/j)
print(i%j) # 나머지 연산자
print(10//3) # 몫 연산자
print(10**3) # 제곱승

30
-10
200
0.5
10
3
1000

In [29]:
### 문자열 리터널 : 문자나 문자열이나 같이 취급한다.
강찬우 = "rhee" # 문자리터널과 변수를 구별하기 위해서 문자열에 ""을 주기로 함
# 10 = "강찬우" # 숫자는 변수로 사용할 수 없다.
###           : "", ''가 있을 때 문자로 취급
i = 10
print(강찬우)
강찬우 = 'rhee'
print(강찬우)
str1 = 10 # 정수리터널
str1 = "10"# 문자리터널
print(10 + 10) # 정수 + 정수 
print("10"+ "10")# 문자 + 문자의 연산
#print("10"+10)# 문자 + 정수 오류: 타입이 같아야 연산을 할수 있다
print("강찬우" * 3)# 반복 연산자.
print("===" *30)
print("제목")
print("===" * 30)
# 문자열 연산자는 + , *

rhee
rhee
20
1010
이승무이승무이승무
==========================================================================================
제목
==========================================================================================

In [38]:
print("Life is too short, You need puthon")
print('Life is too short, You need puthon')
print('Life\'s too short, You need puthon') #escape
print("Life's too short, You need puthon")
print("Life is too short, \"You need\" puthon")
print('Life is too short, "You need" puthon')
print("Life is too short, You need puthon")
print("Life's too short, \"You need\" puthon")
print("\tLife is too short, \nYou need puthon")

Life is too short, You need puthon
Life is too short, You need puthon
Life's too short, You need puthon
Life's too short, You need puthon
Life is too short, "You need" puthon
Life is too short, "You need" puthon
Life is too short, You need puthon
Life's too short, "You need" puthon
	Life is too short,
You need puthon

In [39]:
print('''Life is too short, 
You need puthon''')
print("""Life is too short, 
You need puthon""")
print("""Life is too short, You need puthon""")
### 파이썬에서 문자열을 표시하는 방법은 : "a",'a',"""a""",'''a'''

Life is too short,
You need puthon
Life is too short,
You need puthon
Life is too short, You need puthon

In [40]:
str1 ='Life is too short, You need puthon'
print(str1)
print(len(str1))
print(len('Life is too short, You need puthon'))

Life is too short, You need puthon
34

In [51]:
str1 = 'Life is too short, You need puthon'
#                 111       2222      3333
#       0123456789012345678901234567890123 : index : 문자에 표시된 고유의 번호 : 0번부터 1씩 증가하는 번호
#      -4321098765432109876543210987654321
#           3         2         111
print(str1[1])
print(str1[19])
print(str1[33])
print(str1[len(str1)-1]) # len(str1) -1 : 34 - 1 = 33
print(str1[5])
print('Life is too short, You need puthon'[5])
print(str1[0])
print(str1[-34])
print(str1[-len(str1)])
print(str1[0])
print(str1[-0])

i
Y
n
n
i
i
L
L
L
L
L

In [59]:
# Life를 출력
print(str1[0]);print(str1[1]);print(str1[2]);print(str1[3]);
print(str1[0]+str1[1]+str1[2]+str1[3]);

L
i
f
e
Life

In [62]:
#Life
# 0123
print(str1[0:0+4])
print(str1[0:4])# start =0; stop = 4
print(str1[0:3]) # start = 0; stop = 3
print(str1[8:8 + 5])
print(str1[8:13]) # 8부터 13전까지
idx =3 
글자수 = 5
print(str1[idx : idx +  글자수])

Life
Life
Lif
too s
too s
e is

In [10]:
str1 = 'Life is too short, You need puthon'
#                 111       2222      3333
#       0123456789012345678901234567890123 : index : 문자에 표시된 고유의 번호 : 0번부터 1씩 증가하는 번호
#      -4321098765432109876543210987654321
#           3         2         1111
print(str1[0:0+7])
print(str1[-34:0+7])
print(str1[0:-34+7])
print(str1[0:-27])
print(str1[-34:-27])
print(str1[-len(str1):-27])

Life is
Life is
Life is
Life is
Life is
Life is

In [1]:
a = "20010331Rainy"
#    0123456789012
#### 날짜(년월일)와 이름을 분리하여 출력
print(a[0:8])
print(a[8:8+5])
print(a[:8])# 처음번호(0)은 생략가능
print(a[8:])# 마지막번호 (len(a))
#년 월 일
print(a[0:4])
print(a[4:4+2])
print(a[6:6+2])

20010331
Rainy
20010331
Rainy
2001
03
31

In [14]:
print(str1) # Life is too short, You need puthon
print(str1[0:len(str1)])
print(str1[:len(str1)])
print(str1[0:])
print(str1[:])
print(str1[::2])# 한칸씩
print(str1[::3])#두칸씩
print(str1[::-1])#꺼꾸로
#2번부터 13까지 출력
print(str1[2:14])
print(str1[2:14:2])
#print(str1[2:14:-1])
print(str1[13:1:-1])

Life is too short, You need puthon
Life is too short, You need puthon
Life is too short, You need puthon
Life is too short, You need puthon
Life is too short, You need puthon
Lf stosot o edpto
Lesosr ue tn
nohtup deen uoY ,trohs oot si efiL
fe is too sh
f stos
hs oot si ef

In [17]:
a = "Pithon"
#    012345
print(a)
print(a[1])
#a[1]= 'y' #문자열은 index를 이용해서 수정할 수 없다.
print(a[0] + 'y' +a[2:])

Pithon
i
Python

In [19]:
# 문자열 포매팅이란?
print("현재온도는 15도입니다")
print("현재온도는 30도입니다")
print("현재온도는 18도입니다")

현재온도는 15도입니다
현재온도는 30도입니다
현재온도는 18도입니다

In [26]:
#포맷문자열을 이용한 포맷팅 : %d, %s, %f, %c
a = 15
print("현재온도는 %d도입니다" % a)
b=5 # 정수 리터널
print("I eat %d apples" % b)
print("I eat %d apples" % 5)
print("I eat %s apples" % 'five')
str2 = 'five' 
print("I eat %s apples" % str2)
f = 0.5
print("I eat %f apples" % f)

현재온도는 15도입니다
I eat 5 apples
I eat 5 apples
I eat five apples
I eat five apples
I eat 0.500000 apples

In [27]:
'나는 이름은 강찬우이고 나이는 25살입니다.'
name = '강찬우'
age = 26
print('나는 이름은 %s이고 나이는 %d살입니다.' %(name,age)) # 변수가 두개 이상인 경우에는
print("I eat %f apples" % (f))

나는 이름은 강찬우이고 나이는 26살입니다.
I eat 0.500000 apples

In [33]:
'이승무의 계좌번호는 1111이고 잔액은 100원 입니다.'
name = '강찬우'
account = '1111'
money = 100
print('%s의 계좌번호는 %s이고 잔액은 %d원 입니다.' % (name,account,money))
str3 ='%s의 계좌번호는 %s이고 잔액은 %d원 입니다.' % (name,account,money)
print(str3)

강찬우의 계좌번호는 1111이고 잔액은 100원 입니다.
강찬우의 계좌번호는 1111이고 잔액은 100원 입니다.

In [46]:
'강찬우의 나이는 25살이고 키는 173.6입니다.'
name = '강찬우'
age = 20
height = 173.6
str4 = '%s의 나이는 %d살이고 키는 %f입니다.' % (name,age,height)
print(str4)
print('%s의 나이는 %d살이고 키는 %f입니다.' % (name,age,height))
print('%s의 나이는 %d살이고 키는 %5.1f입니다.' % (name,age,height))
print('%s의 나이는 %d살이고 키는 %3.1f입니다.' % (name,age,height))
print('%s의 나이는 %d살이고 키는 %.1f입니다.' % (name,age,height))
print('%s의 나이는 %d살이고 키는 %.10f입니다.' % (name,age,height))
print('%s의 나이는 %s살이고 키는 %s입니다.' % (name,age,height))

result = "우리반의 취업률은 %d%% 입니다." % 98
print(result)

강찬우의 나이는 20살이고 키는 173.600000입니다.
강찬우의 나이는 20살이고 키는 173.600000입니다.
강찬우의 나이는 20살이고 키는 173.6입니다.
강찬우의 나이는 20살이고 키는 173.6입니다.
강찬우의 나이는 20살이고 키는 173.6입니다.
강찬우의 나이는 20살이고 키는 173.6000000000입니다.
강찬우의 나이는 20살이고 키는 173.6입니다.
우리반의 취업률은 98% 입니다.

In [49]:
# 정렬과 공백 : + 오른쪽 정렬
print('%s의 나이는 %s살이고 키는 %s입니다.' % (name,age,height))
print('%10s의 나이는 %10d살이고 키는 %10.1f입니다.' % (name,age,height))
print('%-10s의 나이는 %-10d살이고 키는 %-10.1f입니다.' % (name,age,height))

강찬우의 나이는 20살이고 키는 173.6입니다.
       강찬우의 나이는         20살이고 키는      173.6입니다.
강찬우       의 나이는 20        살이고 키는 173.6     입니다.

In [55]:
#format 함수를 사용한 포매팅 : format()
print("%s의 나이는 %d살이고 키는 %.1f입니다."%(name,age,height)) # 포멧문자열
print("{0}의 나이는 {1}살이고 키는 {2}입니다.".format('강찬우',25,173.6))
#                                                       0    1   2
print("{0}의 나이는 {1}살이고 키는 {2}입니다.".format(name,age,height))
print("{1}의 나이는 {0}살이고 키는 {2}입니다.".format(age,name,height))
#                                                    0    1    2     #순서와 상관없이 index를 원하는 곳에 준다.
'강찬우의 나이는 25살이고 키는 173.6입니다.'
print('%s의 나이는 %d살이고 %s의 키는 %f입니다.'%(name, age, name, height))
print('{1}의 나이는 {0}살이고 {1}의 키는 {2}입니다.'.format(age, name, height))

강찬우의 나이는 20살이고 키는 173.6입니다.
강찬우의 나이는 25살이고 키는 173.6입니다.
강찬우의 나이는 20살이고 키는 173.6입니다.
강찬우의 나이는 20살이고 키는 173.6입니다.
강찬우의 나이는 20살이고 강찬우의 키는 173.600000입니다.
강찬우의 나이는 20살이고 강찬우의 키는 173.6입니다.

In [58]:
# 정렬과 공백 
print('{1:10}의 나이는 {0:10}살이고 {1:10}의 키는 {2:10}입니다'.format(age,name,height))
# 문자는 왼쪽정렬 숫자는 오른쪽 정렬
print('{1:<10}의 나이는 {0:<10}살이고 {1:<10}의 키는 {2:<10}입니다'.format(age,name,height))
print('{1:>10}의 나이는 {0:>10}살이고 {1:>10}의 키는 {2:>10}입니다'.format(age,name,height))
print('{1:^10}의 나이는 {0:^10}살이고 {1:^10}의 키는 {2:^10}입니다'.format(age,name,height))
print('{1:-^10}의 나이는 {0:*^10}살이고 {1:^10}의 키는 {2:!^10}입니다'.format(age,name,height))

강찬우       의 나이는         20살이고 강찬우       의 키는      173.6입니다
강찬우       의 나이는 20        살이고 강찬우       의 키는 173.6     입니다
       강찬우의 나이는         20살이고        강찬우의 키는      173.6입니다
   강찬우    의 나이는     20    살이고    강찬우    의 키는   173.6   입니다
---강찬우----의 나이는 ****20****살이고    강찬우    의 키는 !!173.6!!!입니다

In [59]:
#{}호 출력하기
#{강찬우}의 나이는 20살이고 키는 173.6입니다.
print("{{0}}의 나이는 {1}살이고 키는 {2}입니다.".format(name,age,height));
print("{{강찬우}}의 나이는 {1}살이고 키는 {2}입니다.".format(name,age,height));

{0}의 나이는 20살이고 키는 173.6입니다.
{강찬우}의 나이는 20살이고 키는 173.6입니다.

In [60]:
#f 문자열 포매팅
'강찬우의 나이는 20살이고 키는 173.6입니다.'
print(f'{name}의 나이는 {age}살이고 키는 {height}입니다.')

강찬우의 나이는 20살이고 키는 173.6입니다.

In [62]:
print("%s의 나이는 %d살이고 키는 %f입니다."%(name,age,height))
print('{1}의 나이는 {0}살이고 키는 {2}입니다.'.format(age, name, height))
print(f'{name}의 나이는 {age}살이고 키는 {height}입니다.')

강찬우의 나이는 20살이고 키는 173.600000입니다.
강찬우의 나이는 20살이고 키는 173.6입니다.
강찬우의 나이는 20살이고 키는 173.6입니다.

In [66]:
# 인자에 이름 주기
print('{0}의 나이는 {1}살이고 키는 {키}입니다.'.format('강찬우', 30, 키 = 173.6))
#
print('{0}의 나이는 {1}살이고 키는 {키}입니다.'.format(name, age, 키 = height))
print('{0}의 나이는 {나이}살이고 키는 {키}입니다.'.format(name, 나이 = age, 키 = height))
#이름을 중간에 있는 값에만 부여해 줄 수 없다.이름은 뒤에서 부터 순차적으로 줘야한다.
#print('{0}의 나이는 {나이}살이고 키는 {키}입니다.'.format(name, 나이 = age, height))
#                                                         0   
#중간에 이름을 빼고 부여해줄 수도 없다.
#print('{이름}의 나이는 {0}살이고 키는 {키}입니다.'.format(이름 =name, age, height))

강찬우의 나이는 30살이고 키는 173.6입니다.
강찬우의 나이는 20살이고 키는 173.6입니다.
강찬우의 나이는 20살이고 키는 173.6입니다.

In [67]:
#정렬과 공백
print(f'{name:10}의 나이는 {age:10}살이고 키는 {height:10}입니다.')
print(f'{name:10}의 나이는 {age:10}살이고 키는 {height:10}입니다.')
print(f'{name:<10}의 나이는 {age:<10}살이고 키는 {height:<10}입니다.')
print(f'{name:>10}의 나이는 {age:>10}살이고 키는 {height:>10}입니다.')
print(f'{name:^10}의 나이는 {age:^10}살이고 키는 {height:^10}입니다.')
print(f'{name:!>10}의 나이는 {age:->10}살이고 키는 {height:=>10}입니다.')

강찬우       의 나이는         20살이고 키는      173.6입니다.
강찬우       의 나이는         20살이고 키는      173.6입니다.
강찬우       의 나이는 20        살이고 키는 173.6     입니다.
       강찬우의 나이는         20살이고 키는      173.6입니다.
   강찬우    의 나이는     20    살이고 키는   173.6   입니다.
!!!!!!!강찬우의 나이는 --------20살이고 키는 =====173.6입니다.

In [72]:
print("9 * 3 = 27")
dan = 9
gop = 3
print(str(dan) + " * " + str(gop) + " = " + str(dan*gop))
print(dan, " * ")
# 변수명 함수명을 구분하지 않는다.
print(f"{dan} * {gop} = {dan * gop}")

9 * 3 = 27
9 * 3 = 27
9 * 3 = 27

In [73]:
#문자열 관련 함수들 : 문자열 가공
a = "hobby"
print(a)
#문자열의 크기
print(len(a))
print(len("hobby"))
# 특정문자의 갯수
#b가 몇개 있나요?
print(a.count("b"))
print("hobby".count("b"))
str2 = "Life is too short"
print(str2.count("o"))

hobby
5
5
2
2
3

In [88]:
#Life is too short
#          1
# 01234567890123456
#too를 출력
print(str2[8:11])#str2.substr(8, 8+3)
print(str2)
idx = str1.index("too")#idx = str2.indexOf("too")
#too가 있는 위치의 첫번째 글자의 index를 가지고 온다.
print(idx)
print(str2[idx:idx+3])# str2.substr(idx,idx+3)
# t부터 5글자
idx = str1.index("t")# idx = str2.indexOf("t")
print(str2[idx : idx + 3])
# i부터 4글자
idx = str1.index("i")
print(str1[idx:idx+5])
print(str1[str1.index("i"):str1.index('i')+5])
# s부터 4글자
idx = str1.index("s")
print(idx)
print(str1[idx:idx+4])
# 두번째 s부터 4글자
idx = str1.index("s",6+1)
print(idx)
idx = str1.index("s",str1.index("s")+1)
print(idx)
print(str2[idx : idx + 4])

too
Life is too short
8
too
too
ife i
ife i
6
s to
12
12
shor

In [99]:
print(str1) 
# 3 번째 t에서 4글자 출력
idx = str1.index("t")
print(idx)
idx = str1.index("t",idx+1)#idx = str1.index('t',str1.index('t')+1)
print(idx)
idx = str1.index("t",idx+1)#idx = str1.index('t',str1.index('t',str1.index('t')+1)+1)
print(idx)
idx = str1.index('t',str1.index('t',str1.index('t')+1)+1)
print(str1[idx : idx + 4])

Life is too short, You need puthon
8
16
30
thon

In [101]:
# 마지막 't'에서 4글자
idx = str1.rindex('t')
print(str1[idx: idx + 4])

thon

In [105]:
#too출력
idx = str1.index('t')
print(str1[idx : idx + 3])
idx = str1.find('t')
print(str1[idx : idx + 3])
#마지막 3글자
idx = str1.rfind('t')
print(str1[idx : idx + 3])
# 두번째 t부터 3글자
idx = str1.find('t',str1.find('t')+1)
print(str1[idx : idx + 3])

too
too
tho
t,

In [109]:
idx = str1.find('z')
print(idx)# 찾는 문자가 없는 경우 -1 출력
#idx = str1.index('z')#index는 찾는 문자가 없는 경우 에러

-1

In [110]:
print(str1)
# 문자열을 모두 소문자로 출력
print(str1.lower())
# 문자열을 모두 대문자로 출력
print(str1.upper())

Life is too short, You need puthon
life is too short, you need puthon
LIFE IS TOO SHORT, YOU NEED PUTHON

In [113]:
str2 = "     rkd555777             "
print(str2.strip()) # trim()
str2="         rkd555777             "
print(str2.lstrip())
str2="         rkd555777             "
print(str2.rstrip())
str3 = "abLife is too shortab";
print(str3.strip("ab"))

rkd555777
rkd555777
         rkd555777
Life is too short

In [115]:
### # 문자열 대체하기
str4 = "Life is too short"
result = str4.replace("Life" , "Your leg")
print(result)
# 쪼개기 : split 하면 결과 리스트
result = str4.split()
print(result) #리스트
str4 = "Life:is:too:short"
result = str4.split(":")
print(result)

Your leg is too short
['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short']

In [117]:
print('Hello World')

Hello World

In [119]:
print("Mary's cosmetics")

Mary's cosmetics

In [120]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [121]:
print("C:\Windows")

C:\Windows

In [122]:
print("안녕하세요.\n만나서\t\t반갑습니다.") # \n 줄바꿈 \t tap띄어쓰기

안녕하세요.
만나서		반갑습니다.

In [123]:
print ("오늘은", "일요일")

오늘은 일요일

In [126]:
print("naver","kakao","sk","samsung", sep=";")

naver;kakao;sk;samsung

In [127]:
print("naver","kakao","sk","samsung", sep="/")

naver/kakao/sk/samsung

In [130]:
print("first",end=""); print("second")

firstsecond

In [131]:
print(5/3)

1.6666666666666667

In [132]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [134]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>