In [17]:
print("{}".format(10))
print("{}{}".format(10,20))
print("{}의 나이는 {}살이고 {}의 키는 {}입니다.".format("강찬우", 25, "강찬우", 173.6))
print("{0}의 나이는 {1}살이고 {0}의 키는 {2}입니다.".format("강찬우", 25,  173.6))
print("{}의 나이는 {}살이고 키는".format("강찬우", 25,  173.6))
#print("{}의 나이는 {}살이고 {}의 키는 {}입니다.".format("강찬우", 25,  173.6))
print("{0:!<10}의 나이는 {1:010d}살이고 {0:10}의 키는 {2:0^10f}입니다.".format("강찬우", 25,  173.6))
print("{0:!<10}의 나이는 {1:0^10d}살이고 {0:10}의 키는 {2:0<10f}입니다.".format("강찬우", 25,  173.6))

10
1020
강찬우의 나이는 25살이고 강찬우의 키는 173.6입니다.
강찬우의 나이는 25살이고 강찬우의 키는 173.6입니다.
강찬우의 나이는 25살이고 키는
강찬우!!!!!!!의 나이는 0000000025살이고 강찬우       의 키는 173.600000입니다.
강찬우!!!!!!!의 나이는 0000250000살이고 강찬우       의 키는 173.600000입니다.

In [47]:
print("{:+d}".format(52))# +:기호를 출력
print("{:+d}".format(-52))
print("{}".format(-52))
print("{0}".format(-52))
print("{: }".format(52))
print("{: }".format(-52))
print("{:10}".format(52))
print("{:10d}".format(52))
print("{:+10d}".format(52))
print("{:+10d}".format(-52))
print("{:+10d}".format(52))
print("{:010}".format(52))
print("{:+010}".format(-52))
print("{:+010}".format(52))
print("{:!<10}".format(-52))#빈칸 채우기 0이외는 정렬 없을시 오류
print("{:3<10}".format(-52))

+52
-52
-52
-52
 52
-52
        52
        52
       +52
       -52
       +52
0000000052
-000000052
+000000052
-52!!!!!!!
-523333333

In [61]:
print("{}".format(173.6))
print("{:10}".format(173.6))
print("{:10f}".format(173.6))
print("{:10.1f}".format(173.6))
print("{:10.2f}".format(173.6))
print("{:10.3f}".format(173.6))
print("{:<10.3f}".format(173.6))
print("{:>10.3f}".format(173.6))
print("{0:>10.3f}".format(173.6))
print("{0:>10f}".format(173.6))
print("{0:>3f}".format(173.6))
print("{0:>3}".format(173.6))
print("{:g}".format(173.0))# 소숫점 자릿수가 0일 경우에 소숫점 가리기
print("{:g}".format(173.000000000000))

173.6
     173.6
173.600000
     173.6
    173.60
   173.600
173.600
   173.600
   173.600
173.600000
173.600000
173.6
173
173

In [65]:
# 기본  자료형 : 리터널 : 숫자 : 정수 : 10
#                               실수 : 소숫점이 있다. 10.5
#                        문자열 : 영어, 프랑스어
# 파이썬 자료형: 리스트 : 모든 타입들을 여러개 저장할 수 있다
#                list: 제레릭타입이 object로 되어 있는 리스트와 같다.
'''
list<Object> list = new ArrayList<Object>();
list.add(10)
list.add(20)
list.add('강찬우')
'''
l = []# 빈 리스트
l = [1,2,3,4,5,6] # 정수형 리스트
l = [10.52,15.48,36.4]# 실수형 리스트
l = ['강찬우','비행기','홍길동']# 문자열형 리스트
l = [1,2,3,4,5,6,'강찬우','비행기','홍길동',10.52,15.48,36.4] # 혼합형 리스트
l = [1,2,3,4,5,6,'강찬우','비행기','홍길동',10.52,15.48,36.4,[2,3,4]]# (리스트 안에 리스트를 넣을수 있다) 리스트를 포함한 혼합형 리스트
l = [[1,2,3],[4,5,6],[7,8,9]]# 리스트를 포함한 리스트
# 리스트 안에 있는 값을 요소라고 한다

In [66]:
l = [[1,2,3],[4,5,6],[7,8,9]]
print(l)
l=[1,2,3,4,5,6]
print(l)
l = ["Life","is","too","short"]
print(l)#["Life","is","too","short"]
i =10
print(i)#10 : wjdtn
str1 = "강찬우"
print(str1)
str4 = "Life is too short"
result = str4.split()
print(result) # ["Life","is","too","short"] : 문자열을 쪼개면 리스트로 가져온다

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3, 4, 5, 6]
['Life', 'is', 'too', 'short']
10
강찬우
['Life', 'is', 'too', 'short']

In [69]:
str4 ="Life is too short"
print(str4)
#Life is too short
#01234567890123456
print(str4[3])
print(1)
# ["Life","is","too","short"]
#     0    1     2      3
#     4    3     2      1 
print(l[0])#List.get(index)
print(l[-4])

Life is too short
e
1
Life
Life

In [91]:
l1 = [1,2,3,'Life',[4,5],'is',[6],'too',0.5,'short',"30"]
#     0 1 2   3      4     5   6    7    8    9
print(l1)
print(l1[1]) # 정수
print(l1[2]) # 정수
print(l1[3]) # 문자
print(l1[4]) # 리스트
print(l1[6]) # 요소가 하나인 리스트
print(l1[7]) # 문자
print(l1[8]) # 실수
print(2 + 3) #  정수 + 정수
print(l1[1] + l1[2]) # 정수 + 정수
# 리스트에서 요소를 사용하는 경우에는 요소가 가진 자료형으로 사용할 수 있다.
print(l1[3] + l1[7]) # 문자 + 문자
print("Life" + "too")
print(l1[10]) # "30" : 문자
print(l1[3] + l1[10])#  문자 + 문자
#print(l1[1] + l1[10])# 정수 + 문자
print(str(l1[1]) + l1[10])# 문자 + 문자
print(l1[1] + int(l1[10]))# 정수 + 정수
print(l1[3] * l1[2]) # 문자 * 정수 : 반복연산

[1, 2, 3, 'Life', [4, 5], 'is', [6], 'too', 0.5, 'short', '30']
2
3
Life
[4, 5]
[6]
too
0.5
5
5
Lifetoo
Lifetoo
30
Life30
230
32
LifeLifeLife

In [94]:
a = [1,2,3,['a','b','c'], 4]
#    0 1 2       3        4
b = a[3]
print(b) # ['a', 'b', 'c']
#            0    1    2
print(b[1])
print(a[3][1])
print(a[-2][-2])

['a', 'b', 'c']
b
b
b

In [96]:
a = [1,2,3,['a','b', ['life','is'] ], 4]
#    0 1 2             3              4
#            0    1         2
#                        0     1
print(a[3]) # ['a', 'b', ['life', 'is']]
print(a[3][2]) # ['life', 'is']
print(a[3][2][1]) # is
#                   01
print(a[3][2][1][1])

['a', 'b', ['life', 'is']]
['life', 'is']
is
s

In [105]:
#리스트의 슬라이싱
str4 ="Life is too short"
#                1111111
#      01234567890123456
print(str4[0])
print(str4[1])
print(str4[2])
print(str4[3])
print(str4[0]+str4[1]+str4[2]+str4[3])
#slicing
print(str4[0:4])
print(str4[2:2+2])
print(str4[2:2])
print(str4[2:2+0])
print(str4[2:2+1])
l = [1, 2, 3, 4]
#    0  1  2  3
print(l[0])
print(l[1])
print(l[0:0+2])
print(l[0:2])
print(l[1:1])# []: 빈리스트
print(l[1:1+1]) # [2] : 요소가 하나인 리스트 : slicing을 하면 요소 하나만 가져와도 리스트가 된다.
# slicing을 하면 결과는 리스트다.
print(l[1]) #2 : indexing을 하면 요소 자료형으로 가져온다.
#print(l[1:1+1]+l[1]) #리스트 + 정수  애러
print(l[0:2]+l[1:1+1]) # 리스트 + 리스트 : [1, 2, 2]: +는 연결연산자
print(l[0:2] * l[1])# 리스트 * 정수 : [1, 2, 1, 2]: *는 반복 연산자
#print(l[1:1+2]+ list(l[1]))# 리스트 + 정수 # 'int' object is not iterable # 정수는 리스트로 형변환 되지 않는다.
# 형 변환 함수 : str(), int(), List()
# int()

L
i
f
e
Life
Life
fe


f
1
2
[1, 2]
[1, 2]
[]
[2]
2
[1, 2, 2]
[1, 2, 1, 2]

In [113]:
result = ['Life','is','too','short']
#            0     1    2       3
print(result)
print(result[:])
print(result[0])#Life
print(result[1])# is
print(result[0: 0+1])#['Life']
print(result[0] + result[1]) # 문자 + 문자 : Lifeis
#print(result[0:0+1]+ result[1])# 리스트 + 문자
print(result[0:0+1]+ list(result[1])) # 리스트 + 리스트: ['Life', 'i', 's']
print(str(result[0:0+1])+ result[1]) # 문자열 + 문자열
print("".join(result[0: 0+1])+ result[1])
print(" ".join(result)) #['Life' 'is' 'too' 'short'] => Life is too short
print(",".join(result)) # Life,is,too,short

['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short']
Life
is
['Life']
Lifeis
['Life', 'i', 's']
['Life']is
Lifeis
Life is too short
Life,is,too,short

In [122]:
str1 = "Life is too short"
#                 1111111
#       01234567890123456
result = ['Life','is','too','short']
#            0     1    2       3
print(str1[0:2])
print(result[0:2])
print(str1[:2])
print(result[:2])
print(str1[5:])
print(result[2:])
print(str1[:])
print(result[:])
print(str1[::2])
print(result[::2])
print(str1[::-1])
print(result[::-1])
print(str1[2:14])
print(str1[13:1:-1])
print(result[1:4])
print(result[3:0:-1])

Li
['Life', 'is']
Li
['Life', 'is']
is too short
['too', 'short']
Life is too short
['Life', 'is', 'too', 'short']
Lf stosot
['Life', 'too']
trohs oot si efiL
['short', 'too', 'is', 'Life']
fe is too sh
hs oot si ef
['is', 'too', 'short']
['short', 'too', 'is']

In [128]:
str1 = 'Lyfe is too short'
print(str1[1])
#str1[1] = 'i'
str1.replace("Lyfe","Life")
print(str1)
print(str1.replace("Lyfe","Life"))

14[2] = 100
print(14)
print

y
Lyfe is too short
Life is too short

In [136]:
# 리스트 함수
# 리스트에 요소 추가
l1 = ['Life','is']
# too 추가
print(l1+['too'])
print(l1)
l1.append("too")
print(l1)
#print(l1.append("short"))
l1.append("short")
print(l1)
l1.append(3)
print(l1)
# 원하는 위치에 요소 추가
l1 = ['Life', 'short']
#       0        1 
l1.insert(1,"is")
print(l1) # ['Life', 'is', 'short']
#               0      1      2
l1.insert(2,"too")
print(l1)
#리스트 확장
a = [1,2,3]
b = [4,5,6]
print (a+b)
print (a)
print (b)
# [1,2,3,4,5,6]
a.extend(b)
print(a)

['Life', 'is', 'too']
['Life', 'is']
['Life', 'is', 'too']
['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short', 3]
['Life', 'is', 'short']
['Life', 'is', 'too', 'short']
[1, 2, 3, 4, 5, 6]
[1, 2, 3]
[4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [143]:
#요소 삭제
l2 = ['Life', 'is', 'too', 'short', 3]
#       0       1    2        3     4
#index를 이용해서 요소삭제
del l2[4]
print(l2)
del l2[2]
print(l2)
# 요소를 이용해서 삭제
#['Life', 'is','short']
l2.remove('is')
print(l2)
l2.remove('Life')
print(l2)
# 모두삭제
l2.clear()
print(l2)#[] : 빈리스트
# 삭제한 값 받아오기
l2 = ['Life', 'is', 'too', 'short', 3]
#result = del l2[4]
#result=l2.remove('Life')
result = l2.pop()
print(result)#short
print(l2)#['Life', 'is', 'too','short']
result = l2.pop()
print(result)#short
print(l2)#['Life', 'is', 'too']
#index를 이용헤서 요소 삭제 후 삭제된 요소 받아오기
result = l2.pop(1)# 비복원 추출
print(result)
print(l2)#['Life', 'too']
result = l2.pop(0)
print(result)
print(l2)#['too']
#복원 추출 : 주사위

['Life', 'is', 'too', 'short']
['Life', 'is', 'short']
['Life', 'short']
['short']
[]
3
['Life', 'is', 'too', 'short']
short
['Life', 'is', 'too']
is
['Life', 'too']
Life
['too']

In [153]:
# 정렬 -- 오름차순, 내림차순
l = [4,5,1,2,3]
# 오름차순
l.sort()
print(l)
l = [4,2,5,1,3]
# 내림차순
l.sort(reverse=True)
print(l)
l = ['b', 'a', 'c']
l.sort()
print(l)
l.sort(reverse=True)
print(l)
l = ['다','가','나']
l.sort()
print(l)
l=['다','가','나','b','a','c']
l.sort()
print(l)
l=['다','가','나','b','a','c',3,5,4]
l.sort()
print(l)# 문자와 숫자가 같이 있으면 정렬되지 않는다.

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
['a', 'b', 'c']
['c', 'b', 'a']
['가', '나', '다']
['a', 'b', 'c', '가', '나', '다']

TypeError: '<' not supported between instances of 'int' and 'str'

In [150]:
str1 = "Life is too short"
print(str1.index("too"))
idx = str1.find("too")
print(idx)
l = ["Life", "is", "too","short"]
#       0     1      2     3
idx = l.index("too")
print(idx)
#idx = l.find("too")
# 리스트에는 find함수가 없다.
#idx = l.index("zoo") : 오류 발생

8
8
2

In [157]:
# 기본자료형 : 리터널 : 자연수 : 숫자 : 정수, 실수
#                      자연어: 문자열 : "",'',"""""",''''''
# 파이썬 자료형 : 
#     리스트 : []
#       튜플 : ()
l = [1,2,3,4]
print(l)
t = (1,2,3,4)
print(t)
l = [] # 빈 리스트
t = () # 빈 튜플
print((3 + 5) * 4)# () : 최우선 연산자 
print(2)
print([2])
print((2))
t = (3+5) # 8 : 최우선 연산자
print(t)
print((2,))
t = (2,)# 요소가 하나인 경우에는 최우선 연산자와 구변하기 위해 ,를 넣어준다.
print(t) # (2,)
t= (1,2)
print(t)

[1, 2, 3, 4]
(1, 2, 3, 4)
32
2
[2]
2
8
(2,)
(2,)
(1, 2)

In [160]:
l= [] # 빈 리스트
t= ()# 빈 튜플
l= [1]# 요소가 하나인 리스트
t = (1,)# 요소가 하나인 튜플
l=[1,2,3,4,5]# 정수형 리스트
t =(1,2,3,4,5) # 정수형 튜플
t=(10.5,2.5,30.7)# 실수형 플
t=('홍길동','김길동','강길동')# 문자열형 튜플
t=(1,2,3,4,5,'홍길동','김길동','강길동',10.4) # 혼합형 튜플
t=(1,2,3,4,5,'홍길동','김길동','강길동',10.4, [6,7,8,9])# 리스트를 포함한 혼합형 튜플
t=(1,2,3,4,5,'홍길동','김길동','강길동',10.4, (6,7,8,9))# 튜플을 포합한 혼합형 튜플
t=(1,2,3,4,5,'홍길동','김길동','강길동',10.4, (6,7,8,9),[11,12,14])# 혼합형 튜플
t=[1,2,3,4,5,'홍길동','김길동','강길동',10.4, (6,7,8,9),[11,12,14]] #리스트
t = 1,2,3,4,5,6#(1, 2, 3, 4, 5, 6): 튜플
print(t)

(1, 2, 3, 4, 5, 6)

In [168]:
str1 = "Life is too short"
#                 1
#       01234567890123456
l1 = ["Life", "is", "too", "short"]
#       0       1      2     3
t1 ="Life", "is", "too", "short"
#      0     1       2      3 
#indexing
print(str1[2])
print(l1[2])
print(t1[2])
# slicing
print(str1[1:1+2])#자바 type : str1.substr(1, 1 + 2)
print(l1[1:1+2])
print(t1[1:1+2])
print(str1[:3])
print(l1[:3])
print(t1[:3])
print(str1[2:])
print(l1[2:])
print(t1[2:])

f
too
too
if
['is', 'too']
('is', 'too')
Lif
['Life', 'is', 'too']
('Life', 'is', 'too')
fe is too short
['too', 'short']
('too', 'short')

In [174]:
str1 = "Life is too short"
l1 = ["Life", "is", "too", "short"]
t1 ="Life", "is", "too", "short"
print(str1[1])
#str1[1] = i
str1 = str1.replace("Lyfe","Life")
print(str1)
print(l1[0])
#리스트와 튜플의 차이
# 리스트는 요소를 변경할 수 있지만  튜플은 요소를 변경할 수 없다. 자바 :
'''
print(t1[0]) 
t1[0]='Life'
print(t1)
'''
del l1[0]
print(l1)
#del t1[0] : 삭제가 되지 않는다.
print(len(t1))
idx = l1.index("too")
print(idx)
idx = t1.index("too")
print(idx)
l = [1,1,2,2,3,4,5,6,6]
t = 1,1,2,2,3,4,5,6,6
print(l.count(1))
print(t.count(1))

i
Life is too short
Life
['is', 'too', 'short']
4
1
2
2

In [181]:
t1 ="Life", "is", "too", "short",3
l1 = ["Life", "is", "too", "short",3]
print(l1[0]) # 문자
print(t1[0]) # 문자
print(l1[1:3]) #  리스트
print(t1[1:3])  # 튜플
print(l1[2:4])#  리스트
print(t1[2:4])# 튜플
print(l1[1:3] + l1[2:4])# 리스트 + 리스트 : 연결 연산
print(t1[1:3]+t1[2:4])# 튜플 + 튜플 : 연결 연산
print(l1[4])# 정수
print(t1[4])# 정수
print(l1[1:3] * l[4]) # 리스트 * 정수 : 반복 연산
print(t1[1:3] * l[4]) # 튜플 * 정수 : 반복 연산

Life
Life
['is', 'too']
('is', 'too')
['too', 'short']
('too', 'short')
['is', 'too', 'too', 'short']
('is', 'too', 'too', 'short')
3
3
['is', 'too', 'is', 'too', 'is', 'too']
('is', 'too', 'is', 'too', 'is', 'too')

In [188]:
# 형변환 함수 : int(), str(), list(),tuple()
str2 = "hello"
num = "3"
i=10
print(int(num))
print(str(i)) # 문자
print(list(str2))
print(tuple(str2))
l=['h', 'e', 'l', 'l', 'o']
print(str(l) + "10")
print("".join(l))# 리스트를 문자열로 형변환할 때는 join을 사용한다.
t = ('h', 'e', 'l', 'l', 'o')
print(str(t) + "10")
print("".join(t))
print(",".join(str2))

3
10
['h', 'e', 'l', 'l', 'o']
('h', 'e', 'l', 'l', 'o')
['h', 'e', 'l', 'l', 'o']10
hello
('h', 'e', 'l', 'l', 'o')10
hello
h,e,l,l,o

In [190]:
movie_rank = ["닥스","스플릿","럭키"]
movie_rank.append("벹맨")
print(movie_rank)

['닥스', '스플릿', '럭키', '벹맨']

In [193]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1,"슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [196]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [200]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2:4]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [201]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1+lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [203]:
nums = [1, 2, 3, 4, 5, 6, 7]
print("max: ",max(nums))
print("min: ",min(nums))

max:  7
min:  1

In [204]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [207]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [208]:
nums = [1, 2, 3, 4, 5]
print(sum(nums)/len(nums))

3.0

In [211]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [217]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [218]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [219]:
nums = [1, 2, 3, 4, 5]

In [223]:
print(nums[::-1])

[5, 4, 3, 2, 1]

In [231]:
interest = ['삼성전자', 'LG전자', 'Naver']
del interest [1]
print(" ".join(interest))

interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver
삼성전자 Naver

In [233]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [236]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [237]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [238]:
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [240]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [242]:
my_variable = ()
print(my_variable)

()

In [243]:
movie_rank =("닥터 스트레인지","스플릿","럭키")

In [244]:
t=(1,)

In [245]:
t = ('a', 'b', 'c')
t = ('A', 'B', 'C')

In [247]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
data = list(interest)

In [248]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
data = tuple(interest)

In [249]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [251]:
data = tuple(range(2, 100, 2))
print( data )

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)