In [5]:
# 기본 자료형 : 리터널 : 자연어 : 문자열 : "ㅁ" ,'ㅁ' ,"""ㅁ""",'''ㅁ''','10', a:변수
#                       자연수 : 정수 , 실수, 지수 : 10,10.5

#                       딕셔너리 : map , json : 키와 값을 쌍으로 사용하는 것
#                       json : {키1 : 값1, 키2:값2,..., 키n:값n}
l = [] # 빈 리스트
t = () # 빈 튜플
dic = {} # 빈 딕셔너리
dic = {"name" : "강찬우", "old" : 26 , "height" : 176.5}
print(dic)
l = [1,2,3,4]
#    0 1 2 3
print(l[0])       # [index]
print(dic['name'])# [키]
print(l[1])
print(dic['old'])
print(l[2])
print(dic['height'])
dic1 = {1:'강', 0:'찬', 2:'우'}# 키가 정수가 될 수 있다.
#          0        1      2
# 키와 index가 혼재되면 오류가 발생할 수 있으므로 index를 사용하지 않는다.
print(dic1[1]) # [키]

{'name': '강찬우', 'old': 26, 'height': 176.5}
1
강찬우
2
26
3
176.5
강

In [7]:
Map<String , String> map = new HashMap<Integer , String>();
map.put(1, "강");
map.put(0, "찬");
map.put(2, "우");

map.get(1)
map.get(0)
map.get(2)
dic = {"name" : "강찬우", "old" : 26 , "height" : 173.6}
Map<String , Object> map = new HashMap<Integer , Object>();
map.put("name", "강찬우");
map.put("old", 26);
map.put("height", 173.6);

String name = map.get("name").toString()
Integer old = Integer.parseInt(map.get("old"))
Double height = Double.parseDouble(map.get("height"))

SyntaxError: cannot assign to comparison (1430907040.py, line 1)

In [15]:
print("강찬우의 나이는 25살이고 키는 173.6입니다")
name='강찬우'
old = 25
height = 173.6
print(f"{name}의 나이는 {old}살이고 키는 {height}입니다")


dic = {"name" : "강찬우", "old" : 26 , "height" : 173.6}
print(dic)
print(f"{dic['name']}의 나이는 {dic['old']}살이고 키는 {dic['height']}입니다")

l = ['강찬우', 25, 173.6] 
print(f"{l[0]}의 나이는 {l[1]}살이고 키는 {l[2]}입니다")
print("%s의 나이는 %d살이고 키는 %.1f입니다" %(l[0], l[1], l[2]))
print("{0}의 나이는 {1}살이고 키는 {2}입니다".format(l[0], l[1], l[2]))

강찬우의 나이는 25살이고 키는 173.6입니다
강찬우의 나이는 25살이고 키는 173.6입니다
{'name': '강찬우', 'old': 26, 'height': 173.6}
강찬우의 나이는 26살이고 키는 173.6입니다
강찬우의 나이는 25살이고 키는 173.6입니다
강찬우의 나이는 25살이고 키는 173.6입니다
강찬우의 나이는 25살이고 키는 173.6입니다

In [27]:
l = ['강찬우', 30 , 173.6]
print(l[1])
dic = {"name" : "강찬우", "old" : 26 , "height" : 173.6}
print(dic['old'])
l[1]= 40
print(l)
dic['old'] = 40 # 키가 있는 경우 수정
print(dic)
#print(l[3]) #list index out of range
#l[3]='구리' #list assignment index out of range
dic ['addr'] = "구리" # 키가 없는 경우 추가가 된다
print(dic)
#딕셔너리는 키가 있으면 수정이 되고 키가 없으면 추가가 된다. merge
d1 = {1 : '강', 1: '찬'}
print(d1)
# 키의 중복을 허용하지 않는다.
d1 = {1: '강'}
d1[1]= '찬'
print(d1)
# 딕셔너리는 index를 사용하지 않으므로 indexing과 slicing을 할 수 없다.
# indexing과 slicing을 할 수 있는 자료형은 문자열, 리스트, 튜플

30
26
['강찬우', 40, 173.6]
{'name': '강찬우', 'old': 40, 'height': 173.6}
{'name': '강찬우', 'old': 40, 'height': 173.6, 'addr': '구리'}
{1: '찬'}
{1: '찬'}

In [33]:
# 딕셔너리 함수
dic = {'name': '강찬우', 'old': 40, 'height': 173.6, 'addr': '구리'}
l = [1,2,3,4]
# 요소 삭제
del l[1]
print(l)
del dic ['old']
print(dic)
print(l[0:2])
del l[0:2] # slicing 을 이용해서 삭제 할 수 있다.
print(l)
print(l[:])
#l.clear()
del l [:]
print(l)
l.clear()
####
print(dic)
dic.clear()
print(dic)

[1, 3, 4]
{'name': '강찬우', 'height': 173.6, 'addr': '구리'}
[1, 3]
[4]
[4]
[]
{'name': '강찬우', 'height': 173.6, 'addr': '구리'}

In [34]:
# 딕셔너리에 있는 키를 가져오기
dic = {'name': '강찬우', 'old': 40, 'height': 173.6, 'addr': '구리'}
print(dic.keys())
# 딕셔너리에 있는 값을 가져오기
print(dic.values())
# 키와 값을 쌍으로 묶어서 가져오기
print(dic.items())
lkeys = list(dic.keys())
print(lkeys)
lvalues = list(dic.values())
print(lvalues)
litems = list(dic.items())
print(litems)\
print(litems) # [('name', '강찬우'), ('old', 40), ('height', 173.6), ('addr', '구리')]
print(litems[0])
print(litems[0][1])

dict_keys(['name', 'old', 'height', 'addr'])
dict_values(['강찬우', 40, 173.6, '구리'])
dict_items([('name', '강찬우'), ('old', 40), ('height', 173.6), ('addr', '구리')])
['name', 'old', 'height', 'addr']
['강찬우', 40, 173.6, '구리']
[('name', '강찬우'), ('old', 40), ('height', 173.6), ('addr', '구리')]

In [48]:
# get ()함수 사용하기
dic = {'name': '강찬우', 'old': 40, 'height': 173.6}
print(dic['name'])
print(dic.get('name'))
#print(dic['addr']) 
print(dic.get('addr'))
print(dic.get('addr' , '구리')) # 키가 없는 경우 초기값을 지정해 줄 수 있다.

### get() 함수 응용
d1 = {'classic':500, 'pop' : 700 , 'jazz' :900}
d2 = {'classic':500, 'pop' : 700 }
print(d1['classic'])# 정수
print(d2['classic'])# 정수
print(d1['classic']+d2['classic']) # 정수 + 정수
print(d1['pop']+d2['pop'])
#print(d1['jazz']+d2['jazz'])
print(d1.get('jazz', 100)+d2.get('jazz',100))
print(d1.get('classic', 100)+d2.get('classic',100))
print(d1.get('pop', 100)+d2.get('pop',100))

강찬우
강찬우
None
구리
500
500
1000
1400
1000
1000
1400

In [53]:
# 파이썬 자료형 : 리스트, 튜플 , 딕셔너리, 집합
# 빈 집합은 없다.
ss = {} # 빈 딕셔너리
ss = {1,2,3,4,5} # {}에 값만 존재 하면 집합 자료형이다.
print(ss)
# 집합자료형에는 합집합(union)연산과 교집합(intersection) 연산 그리고 차집합(difference) 연산을 한다.
s1 = {1,2,3,4,5} 
s2 = {4,5,6,7,8}
# 합집합(union)
print( s1.union(s2))
print(s1 |s2)
# 교집합 (intersection)
print(s1.intersection(s2))
print(s1 & s2)
# 차집합
print(s1 - s2)# 교집합을 제거
print(s1.difference(s2))
print(s2-s1)
print(s2.difference(s1))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}
{1, 2, 3}
{1, 2, 3}
{8, 6, 7}
{8, 6, 7}

In [57]:
ss = {1,1,2,2,3,3,4,4,5,5} # 집합자료형은 중복 데이터를 허용하지 않는다.
print(ss)
l = list(ss)# 집합자료형을 리스트
print(l)
t = tuple(ss)
print(t)
str1 = str(ss)
print(str1 +"a")
ss= {'강','찬','우'}# 집합자료형은 순서가 없다.
print(ss)
print("".join(ss))
l=[1,2,3,4,5]
s2 = set(l)
print(s2)
t=(1,2,3,4,5)
s3=set(t)
print(s3)
# 형변환 함수 : int, str, list, tuple, set, float
str1 = "hello"
print(str1)
s4 = set(str1)
print(s4) # {'l', 'h', 'e', 'o'} # 순서가 없다. 중복을 허용하지 않는다.

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}a
{'강', '찬', '우'}
강찬우
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
hello
{'e', 'l', 'o', 'h'}

In [62]:
# 하나의 요소 추가
# add
s1 = {1,2,3,4}
s1.add(4)
print(s1)
s1.add(7)
print(s1)
s1.add('a')
print(s1)
#여러개의 데이터를 한번에 추가
# update
s1.update((8,9,10))
print(s1)
s1.update([11,12,13])
print(s1)
# 삭제
s1.remove('a')
print(s1)

{1, 2, 3, 4}
{1, 2, 3, 4, 7}
{1, 2, 3, 4, 7, 'a'}
{1, 2, 3, 4, 7, 8, 9, 10, 'a'}
{1, 2, 3, 4, 7, 8, 9, 10, 11, 12, 13, 'a'}
{1, 2, 3, 4, 7, 8, 9, 10, 11, 12, 13}

In [65]:
# 기본자료 : 정수, 실수, 문자열, 부울 : True/False
# 파이썬 자료형 : 리스트, 튜플, 딕셔너리, 집합
i = 10
f = 10.5
str1 = "강찬우"
l = [1,2,3,4,5]
t = (1,2,3,4,5)
dic = {1:'강',2:'찬'}
s1 = {1,2,3,4}
b1 = True
b2 = False
b3 = "ture"
#b3 = true # name 'ture' is not defined
# 데이터의 자료형을 알고 싶을 때 : type()함수
print(type(i))# <class 'int'> : 정수
print(type(f))# <class 'float'>: 실수
print(type(l))# <class 'list'>: 리스트
print(type(t))# <class 'tuple'>: 튜플
print(type(dic))# <class 'dict'>: 딕셔너리
print(type(s1))# <class 'set'>: 집합
print(type(b1))# <class 'bool'>: 부울
print(type(b2))# <class 'bool'>: 부울

<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'bool'>
<class 'bool'>

In [79]:
# 부울 타입을 사용하는 때 : and, or
result = True and True
print(result)
result = True or False
print(result)
# 결과값이 부울 타입인 경우에 사용 : 비교(관계) 연산
i = 10
j = 20
result = i < 20 # 비교 연산의 결과는 부울 타입이다.
print(result)
# 논리연산을 하기 위해서 비교연산과 같이 사용한다.
# 모든 과목이 40점이상이고 평균이 60이면 True 아니면 False
eng = 40
kor = 80
result = eng >= 40 and kor >= 40 and (eng + kor) / 2 >= 60
print(result)
if eng >= 40 and kor >= 40 and (eng + kor) / 2>=60:
    print("합격")
else:
    print("불합격")
#윤년과 평년을 구하시오
# 4년마다 한번 윤년이고 100년마다는 평년, 400년마다 윤년
#year = 2000은 평년일까? 윤년일까? True면 윤년
year = 2200
result = year % 4 == 0 and year % 100 != 0 or year % 400 == 0
print(result) # True
if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
    print("윤년")
else:
    print("평년")

True
True
True
True
합격
False
평년

In [85]:
# 변환한수 : int, str, list, tuple, set, book: 참/ 거짓
i = 10 
print(type(str(i)))#<class 'str'>
print(type(i))#<class 'int'>
print(str(i)) # "10"
print(bool(i)) # True
print(bool("강찬우")) # blank가 아닌 모든 문자열은 True 다
print(bool("")) # False
print(bool(1))# 0을 제외한 음수이거나 양수 모두 True이다
print(bool(-1))
print(bool(0))
print(bool([]))#False
print(bool([1,2,3]))
print(bool(()))#False
print(bool((1,2,3,4)))
print(bool({}))#False
print(bool({1:'이'}))
print(bool({1,2,3,4}))
print(bool(None)) # False

<class 'str'>
<class 'int'>
10
True
True
False
True
True
False
False
True
False
True
False
True
True
False

In [87]:
# 값 서로 교환 하기
i = 100
j = 20
# i가 가진값을 j에게 주고 j가 가진 값을 i에게 저장
temp = i
i = j
j = temp
print(i, j)
### 파이썬으로는 
i, j = j, i
print(i, j)

20 100
100 20

In [96]:
x, y = 10, 20
print(x,y)
t = 1,2,3,4
print(t)
x , y =(10, 20)
print(x,y)
(x , y) =(10, 20)
print(x,y)
[x , y] =10, 20
print(x,y)
[x , y] =(10, 20)
print(x,y)
x , y ,z =10, 20,30
print(x,y,z)
'''
x , y ,z =10, 20
print(x,y,z)

x , y  =10, 20,30
print(x,y,z)
'''

10 20
(1, 2, 3, 4)
10 20
10 20
10 20
10 20
10 20 30

'\nx , y ,z =10, 20\nprint(x,y,z)\n\nx , y  =10, 20,30\nprint(x,y,z)\n'

In [113]:
# in 연산자 : 포함되어 있을 때
print( 1 in [1,2,3,4])
print(7 in [1,2,3,4])
l=[1,2,3,4]
print(7 in l) 
print(7 not in l)
print(1 not in l)
print('y' in 'python')
print('a' not in 'python')
str1 = "hello"
print("he" in str1)
print("강찬우" not in str1)
print("he" not in str1)
print(1  in (1,2,3,4,5))
print(1 not in (1,2,3,4,5))
dic = {1: '강',2:'찬',3:'우'}
print(1 in dic) # 키가 있는지 확인
print(4 in dic)# False
print(4 not in dic)

True
False
False
True
False
True
True
True
True
False
True
False
True
False
True

In [114]:
if 1 in [1,2,3,4]:
    print("리스트에 1 포함")
else:
    print("리스트에 1 없음")
l=[1,2,3,4]
if 1 not in l:
    print("리스트에 1 없음")
else:
    print("리스트에 1 있음")

리스트에 1 포함
리스트에 1 있음

In [116]:
i = 10
if i > 20:
    print("i가 20보다큼")
else:
    print("i는 작다")

if i< 20 :
    print("i는 작다")
# 파이썬에서는 명력문을 작성 할 때는 들여쓰기를 해야 한다
# 들여 쓰기는 공백문자를 이용하거나 TAB키를 이용할 수 있다.
하지만 두개를 혼용해서 사용할수 없다. 하나만 선택해서 사용한다.
if i< 20 :
    print("i는 작다")
    print("참일때 실행")
if i > 20 :
    pass
print("i가 큽니다")

SyntaxError: invalid syntax (3928698170.py, line 11)

In [117]:
#학점(score)이 90이상이면 A, 80이상이면 B,70이상이면 C ,60이상이면 D ,그렇지 않으면 F
score = 78
if score>=90:
    print("A")
else: # 89 이하
    if score >= 80:
        print("B")
    else: #79
        if score >= 70:
            print("C")
        else:
            if score >= 60:
                print("D")
            else:
                print("F")

C

In [121]:
score = 78
if score>=90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
elif score >= 60:
    print("D")
else:
    print("F")

C

In [126]:
score = 78
if score>=95:
    print("A+")
elif score >= 90:
    print("A")

elif score >= 80:
    if score>= 85:
        print("B+")
    else:
        print("B")
        
elif score >= 75:
    print("C+")
elif score >= 70:
    print("C")
    
elif score >= 60:
    if score>= 65:
        print("D+")
    else:
        print("D")
        
else:
    print("F")

C+

In [130]:
# score가 60이상이면 message에 success를 저장하고 아니면 failure를 저장하자.
score = 78
if score >=60:
    message = 'success'
else:
    message = 'failure'
print(message)
# 파이썬  타입으로 변경
message = "success" if score >= 60 else "failure"
print(message)

success
success

In [133]:
score = 78
if score>=90:
   message="A"
else: # 89 이하
    if score >= 80:
      message="B"
    else: #79
        if score >= 70:
           message="C"
        else:
            if score >= 60:
               message="D"
            else:
                message= "F"
print(message)
message = "A"if score >= 90 else(
          "B"if score >= 80 else(
          "C"if score >= 70 else(
          "D"if score >= 60 else(
          "F"
          ))))
print(message)

C
C

In [136]:
a = 10 ; b = 20; opt = "add" 
if opt == "add":
    message= a+b
elif opt == "sub":
    message= a-b
elif opt == "mul":
    message= a*b
else:
    message= a/b
print(message)
# 파이썬 타입
message = a + b if opt == "add" else(
          a - b if opt == "sub" else(
          a * b if opt == "mul" else(
          a / b
          )))

30

In [139]:
# 반복문 : 반복적으로 사용해야 하는 명령어
print("나무를 1번 찍었습니다.")
print("나무를 2번 찍었습니다.")
print("나무를 3번 찍었습니다.")
print("나무를 4번 찍었습니다.")
print("나무를 5번 찍었습니다.")
print("나무를 6번 찍었습니다.")
print("나무를 7번 찍었습니다.")
print("나무를 8번 찍었습니다.")
print("나무를 9번 찍었습니다.")
print("나무를 10번 찍었습니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.

In [143]:
i= 1
while i <= 10:
    #print(f"나무를 {i}번 찍었습니다.")
   # print("나무를 %d번 찍었습니다." % i)
    print("나무를 {}번 찍었습니다.".format(i))
    i += 1 # 대입 연산자

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.

In [151]:
# 8 단 
i= 1
while i <= 9:
 print(f"8 * {i} = {8 * i}")
 i += 1

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

In [155]:
start = int(input("8단 시작 수 :"))
end = int(input("8단 끝 수 :"))
i= start
while i <= end:
 print(f"8 * {i} = {8 * i}")
 i += 1

8단 시작 수 : 2
8단 끝 수 : 5

8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40

In [156]:
start = int(input("단 시작 수 :"))
end = int(input("단 끝 수 :"))
dan =int(input("몇 단? :"))
i= start
while i <= end:
 print(f"{dan} * {i} = {dan * i}")
 i += 1

단 시작 수 : 2
단 끝 수 : 5
몇 단? : 3

3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15

In [171]:
import random
# 로또
lotto = []
i = 1
while i <= 45:
    lotto.append(i)
    i += 1
size = len(lotto) # 45
cnt = 1
while cnt <= 6:
    size -= 1
    idx = random.randint(0,size)
    result = lotto.pop(idx)
    print(result, end =" ")
    cnt += 1

3 20 14 17 44 13

In [176]:
# 3단
i = 1 
while i <= 9:
    print(f" 3 * 1 ={3 * i}")
    i += 1
#4단
i = 1 
while i <= 9:
    print(f" 4 * 1 ={4 * i}")
    i += 1

 3 * 1 =3
 3 * 1 =6
 3 * 1 =9
 3 * 1 =12
 3 * 1 =15
 3 * 1 =18
 3 * 1 =21
 3 * 1 =24
 3 * 1 =27
 4 * 1 =4
 4 * 1 =8
 4 * 1 =12
 4 * 1 =16
 4 * 1 =20
 4 * 1 =24
 4 * 1 =28
 4 * 1 =32
 4 * 1 =36

In [178]:
dan = 3
while dan <= 5:
    i = 1 
    while i <= 9:
        print(f" {dan} * {i} ={dan * i}")
        i += 1
    dan += 1

 3 * 1 =3
 3 * 2 =6
 3 * 3 =9
 3 * 4 =12
 3 * 5 =15
 3 * 6 =18
 3 * 7 =21
 3 * 8 =24
 3 * 9 =27
 4 * 1 =4
 4 * 2 =8
 4 * 3 =12
 4 * 4 =16
 4 * 5 =20
 4 * 6 =24
 4 * 7 =28
 4 * 8 =32
 4 * 9 =36
 5 * 1 =5
 5 * 2 =10
 5 * 3 =15
 5 * 4 =20
 5 * 5 =25
 5 * 6 =30
 5 * 7 =35
 5 * 8 =40
 5 * 9 =45

In [182]:
startDan = int(input("시작단 :"))
endDan = int(input("끝 단:"))
startGop = int(input("시작곱:"))
endGop = int(input("끝 곱:"))
dan = startDan
while dan <= endDan:
    gop = startGop
    while gop <= endGop:
        print(f" {dan} * {gop} ={dan * gop}")
        gop += 1
    dan += 1

시작단 : 2
끝 단: 5
시작곱: 3
끝 곱: 5

 2 * 3 =6
 2 * 4 =8
 2 * 5 =10
 3 * 3 =9
 3 * 4 =12
 3 * 5 =15
 4 * 3 =12
 4 * 4 =16
 4 * 5 =20
 5 * 3 =15
 5 * 4 =20
 5 * 5 =25

In [183]:
import random
# 로또
lottoCnt =int(input("로또 구매 수량을 입력해주세요. :"))
qty = 1
while qty <= lottoCnt:
    lotto = []
    i = 1
    while i <= 45:
        lotto.append(i)
        i += 1
    size = len(lotto) # 45
    cnt = 1
    while cnt <= 6:
        size -= 1
        idx = random.randint(0,size)
        result = lotto.pop(idx)
        print(result, end =" ")
        cnt += 1
        print()
    qty += 1

로또 구매 수량을 입력해주세요. : 3

5
1
20
44
13
4
6
45
10
1
26
8
17
5
13
42
1
30